body{
    background-size: cover;
    background-image: URL("IMG/1-1.jpg");
    background-repeat: no-repeat;
}


h1, p, ul, h2, h4, h5{
    color: white;

}

.logo{
    width: 155px;
    height: 150px;
    margin-top: 20px;

}
.bd-placeholder-img{
    margin-left: 10%;
    margin-right: 10%;
}

.col-md-3{
    color: white;
}
.col-md-4{
    color: white;
}
.col-10{
    color: white;
}
.col-md-5{
    color: white;
}
.col-6{
    color: white;
}
.li{
    color: beige;
}
.p1{
    color: black;
}
.p2{
    color: black;
}
